@import url(https://fonts.google.com/specimen/Kosugi+Maru);

body {
    background-image: url(https://static.wixstatic.com/media/6efc6e_3c87611cc7a6435b916c10e344c7a170~mv2.jpg/v1/fill/w_498,h_333,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/6efc6e_3c87611cc7a6435b916c10e344c7a170~mv2.jpg);

    width:800px;
    height:600px;
    margin: 0 auto;
}

.titulo {
    color: #cfa2dd;
    font-size: 40px;
    font-family:'Kosugi Maru';
    text-align: center;
}

.aaa {
    color: #cfa2dd;
    font-size: 35px;
    font-family:'Kosugi Maru';
    text-align: center;
}


.lgoback {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 250px;
}

.lburymeingucci {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 420px;
}

.ldriftmeaway {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 590px;
}

.lifthevillaindie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 760px;
}

.lsunnyside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 930px;
}

.lmyhairisgreen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 373px;
    left: 250px;
}

.locafezinho {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 373px;
    left: 420px;
}

.l22s {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 373px;
    left: 590px
}

.l이호석 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 373px;
    left: 760px;
}

.lcept {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 373px;
    left: 930px;
}

.lshoutitlouder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 547px;
    left: 250px;
}

.lprompt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 547px;
    left: 420px;
}

.lvenusflytrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 547px;
    left: 590px;
}

.l21s {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 547px;
    left: 760px;
}

.lheisnotascoolasme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 547px;
    left: 930px;
}

.ldead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 722px;
    left: 250px;
}

.ldot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 722px;
    left: 420px;
}

.lrnb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 722px;
    left: 590px;
}

.lditto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 722px;
    left: 760px;
}

.ldomeright {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 722px;
    left: 930px;
}

.lbts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 895px;
    left: 250px;
}

.lloona {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 895px;
    left: 420px;
}

.lthealmostquietmoment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 895px;
    left: 590px;
}

.landtherewas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 895px;
    left: 760px;
}

.loldbts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 895px;
    left: 930px;
}

